<mat-toolbar class="simple-toolbar">
    <span>Example new table</span>
</mat-toolbar>

<table-builder
    #table
    [data]="[
        {
            'Column name A': 'Sample text a1',
            'Column name B': 'Sample text b1',
            'Column name C': 'Sample text c1',
            'Column name D': 'Sample text d1'
        },
        {
            'Column name A': 'Sample text a2',
            'Column name B': 'Sample text b2',
            'Column name C': 'Sample text c2',
            'Column name D': 'Sample text d2'
        },
        {
            'Column name A': 'Sample text a3',
            'Column name B': 'Sample text b3',
            'Column name C': 'Sample text c3',
            'Column name D': 'Sample text d3'
        },
        {
            'Column name A': 'Sample text a4',
            'Column name B': 'Sample text b4',
            'Column name C': 'Sample text c4',
            'Column name D': 'Sample text d4'
        },
        {
            'Column name A': 'Sample text a5',
            'Column name B': 'Sample text b5',
            'Column name C': 'Sample text c5',
            'Column name D': 'Sample text d5'
        }
    ]"
>
    <table-column
        *ngFor="let columnKey of table.keysOfDataSource"
        [key]="columnKey"
    >
        <div *tableHeaderCell>
            {{ columnKey }}
        </div>
        <div *tableBodyCell="let value; row as row">
            {{ value }}
        </div>
    </table-column>
</table-builder>
