<mat-toolbar class="simple-toolbar">
    <span>Example new table</span>
</mat-toolbar>

<table-builder
    #table
    [data]="[
        {
            'Название стобца А': 'Обычный текст a1',
            'Название стобца Б': 'Обычный текст б1',
            'Название стобца В': 'Обычный текст в1',
            'Название стобца Г': 'Обычный текст г1'
        },
        {
            'Название стобца А': 'Обычный текст a2',
            'Название стобца Б': 'Обычный текст б2',
            'Название стобца В': 'Обычный текст в2',
            'Название стобца Г': 'Обычный текст г2'
        },
        {
            'Название стобца А': 'Обычный текст a3',
            'Название стобца Б': 'Обычный текст б3',
            'Название стобца В': 'Обычный текст в3',
            'Название стобца Г': 'Обычный текст г3'
        },
        {
            'Название стобца А': 'Обычный текст a4',
            'Название стобца Б': 'Обычный текст б4',
            'Название стобца В': 'Обычный текст в4',
            'Название стобца Г': 'Обычный текст г4'
        },
        {
            'Название стобца А': 'Обычный текст a5',
            'Название стобца Б': 'Обычный текст б5',
            'Название стобца В': 'Обычный текст в5',
            'Название стобца Г': 'Обычный текст г5'
        }
    ]"
>
    <table-column
        *ngFor="let columnKey of table.keysOfDataSource"
        [key]="columnKey"
    >
        <div *tableHeaderCell>
            {{ columnKey }}
        </div>
        <div *tableBodyCell="let value; row as row">
            {{ value }}
        </div>
    </table-column>
</table-builder>
